{% extends "base.html" %}

{% block title %}Чтиво — {{ data.person_name }}{% endblock %}

{% block content %}
<div class="person-detail">
    <h1>{{ data.person_name }}</h1>

    <div class="detail-content">
        <div class="detail-image">
            <img src="http://localhost:9000/images/historyPerson{{ data.id }}.png" alt="{{ data.person_name }}">
        </div>

        <div class="detail-years">
            <h3>Годы правления</h3>
            <p><strong>{{ data.year_from }} — {{ data.year_to }}</strong></p>
        </div>

    </div>

    {% if data.description %}
    <div class="detail-desc">
        <h3>Историческая сводка:</h3>
        <p>{{ data.description }}</p>
    </div>
    {% endif %}
</div>
{% endblock %}
