{% extends 'base.html' %}

{% block title %}Выбор услуг{% endblock %}

{% block content %}
<div class="head-container">
<form action="/" method="GET">
    <div class="input-container">
        <input type="text" placeholder="Поиск..." name="q" value = "{{ query }}">
        <button type="submit" class="search-button">
            <img src="http://localhost:9000/images/lupa.png" alt="Search Icon" class="search-icon">
        </button>
    </div>
</form>
    {% if order_items_count > 0 %}
      <a href="/orderForPredictingYear/{{ order_id }}/" class="cart-button">
        <img src="http://localhost:9000/images/cartOfPersons.png" alt="cart">
        <span class="cart-counter">{{ order_items_count }}</span>
    </a>
    {% else %}
      <div class="cart-button disabled">
        <img src="http://localhost:9000/images/cartOfPersons.png" alt="cart">
      </div>
    {% endif %}
</div>
<div class="cards-container">
    {% for person in persons %}
        {% include 'historyPerson.html' with person=person %}
    {% empty %}
        <p>Ничего не найдено по запросу "{{ query }}"</p>
    {% endfor %}
</div>

{% endblock %}